/* @import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons"); */
html {
  --scrollbarBG: #0e1011;
  --thumbBG: #90a4ae;
}
nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  all: unset;
}

.root {
  margin: 1% 4% 1% 4%;
}

.custom-scroll::-webkit-scrollbar,
.highcharts-scrollbar::-webkit-scrollbar {
  width: 11px !important;
}
.custom-scroll,
.highcharts-scrollbar {
  scroll-margin: 0 0 0 10px !important;
  scrollbar-width: thin !important;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG) !important;
}
.custom-scroll::-webkit-scrollbar-track,
.highcharts-scrollbar-track {
  background: var(--scrollbarBG) !important;
}
.custom-scroll::-webkit-scrollbar-thumb,
.highcharts-scrollbar-thumb {
  background-color: var(--thumbBG) !important;
  border-radius: 6px !important;
  border: 3px solid var(--scrollbarBG) !important;
}
.card-hover {
  transition: all 0.3s ease-in-out;
}

.card-hover:hover {
  transform: translate3d(0px, -7.5px, 0px);
}
.highcharts-credits {
  display: none !important;
}

rect.highcharts-background {
  fill: #0e1011 !important;
}

.info-text {
  margin: 0.5% 0 0.5% 0;
}

.info-header {
  margin: 2% 0 0.5% 0;
}
.info-text-container {
  display: flex;
  width: 100%;
  margin-bottom: 2%;
}
.info-text-inner {
  width: 50%;
}
/* I think I'm gonna keep this here. It's kinda funny. Instead of taking 5 minutes to investigate what is going on, I think I just threw the kitchen sink at it. */
.align-right {
  display: block;
  margin-left: auto;
  margin-right: 0;
  align-items: flex-end;
  align-content: flex-end;
  align-self: flex-end;
  justify-items: right;
  justify-content: right;
  justify-self: right;
  text-align: right;
  right: 0;
}
